# Employee and FulltimeEmployee Classes

In [6]:
class Employee:
    employee_count = 0  # Class variable to count the number of Employees

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    @staticmethod
    def average_salary(employees):
        if not employees:
            return 0
        total_salary = sum(emp.salary for emp in employees)
        return total_salary / len(employees)

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

# Creating instances and calling member functions
emp1 = Employee("Bharathwaj", "Manasa", 50000, "HR")
emp2 = Employee("Sudeep", "Riya", 60000, "IT")
ft_emp1 = FulltimeEmployee("Vineel", "Teju", 70000, "Finance")

print(f"Total number of employees: {Employee.employee_count}")
print(f"Average salary: ${Employee.average_salary([emp1, emp2, ft_emp1]):.2f}")

Total number of employees: 3
Average salary: $60000.00

# NumPy Vector Operations

In [7]:
import numpy as np

# Create random vector of size 20 with floats in range 1-20
vector = np.random.uniform(1, 20, 20)

# Reshape the array to 4 by 5
matrix = vector.reshape(4, 5)

# Replace the max in each row by 0
matrix[np.arange(4), np.argmax(matrix, axis=1)] = 0

print("Resulting matrix:")
print(matrix)

Resulting matrix:
[[10.76710156  7.78471144  4.3893292   3.7760656   0.        ]
 [ 8.92599886  0.         11.36886406 15.64081667  4.22311967]
 [13.83433788  2.74183679 13.65486661  0.         10.94289771]
 [ 1.95896468  7.98727561 13.65531225 12.71932673  0.        ]]